
  .fondosuperior{ 
   background-image: url(/Reccetario.html/img/fondoprincipal.jpg);

    height: 50px;
    width: 100%;
    text-align: center;
    padding: 5cm 0;

    }


    #titulo-principal{
     color: coral;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size:80px;
     font-style: oblique;
     text-align: center;
}


 .textoexplicativo1{color: coral;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
